 .lista{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    margin: 8px;
    
    
    }
    
    li a {
        display: block;
        color: white;
        padding: 16px 21px;
        text-decoration: none;
        
    }
    
    li a:hover{
        background-color: white;
        color: black;
    }
    





    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'poppins', sans-serif;
    }
    
    body {
      height: 100vh;
      /*display: flex;*/
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 5px;
      background: white
    }
    
    body h2 {
      color: white;
    }
    
    main {
      background-color: black;
      color: white;
      padding: 20px;
      border-radius: 10px;
      width: 100%;
      max-width: 800px;
      min-height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 10px;
    }
    
    .spnQtd {
      text-align: end;
    }
    
    .answers {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    
    button {
      width: 100%;
      text-align: start;
      padding: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: purple;
      color: white;
    }
    
    .finish {
      display: none;
      flex-direction: column;
      gap: 10px;
    }
    
    .finish button {
      text-align: center;
    }

    .segundo{
            width: 1000px;
            margin: auto;
            padding:50px;
            font-size: 18px;
            
    }